[submodule "ws2kafka"]
	path = ws2kafka
	url = git@github.com:jorgeyp/ws2kafka.git
[submodule "kafka2mongodb"]
	path = kafka2mongodb
	url = git@github.com:jorgeyp/kafka2mongodb.git
[submodule "rsvp-endpoints"]
	path = rsvp-endpoints
	url = git@github.com:jorgeyp/rsvp-endpoints.git
